In [5]:
# this allows python to displays multiple outputs without
# having to use "display()" option
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
# tuples are an ordered sequence
# tuples can have different types of elements:
# eg: tuple1 = ("disco", 10.1, 15)
tuple1 = ("disco", 10.1, 15)

tuple1[0]
tuple1[1]
tuple1[-2]

'disco'

10.1

10.1

In [ ]:
say_what=('say',' what', 'you', 'will')
say_what[-1]

In [7]:
A=(1,2,3,4,5)
A[1:4]

#idea: for the syntax [1:4]
#1 is the 2nd element
#4 is one step from the last element we want (which is 3)

(2, 3, 4)

In [15]:
# tuples are immutable: we can't change them (immutable = unchangeable)
ratings =(10,9,6,5,10,8,9,6,2)
ratings1==ratings
ratings1 is ratings

True

False

In [ ]:
# lists on the other hand is mutable
# note list is [...] and tuple is (...)

In [16]:
B=[1,2,[3,'a'],[4,'b']]
B[3][1]
# nest: first select 4th 'part' of the list
# then select 2nd element of that 4th 'part'

'b'

In [17]:
[1,2,3]+[1,1,1]
# concatenate (combine) two lists

[1, 2, 3, 1, 1, 1]

In [18]:
# note that by mutable, we can modify a list:
L = ["MJ",10.1, 1982]
L.extend(["pop",75])
L

['MJ', 10.1, 1982, 'pop', 75]

In [19]:
# append only add 1 element to a list
L = ["MJ",10.1, 1982]
L.append(["pop",75])
L

['MJ', 10.1, 1982, ['pop', 75]]

In [22]:
# changing list elements:
A = ["hard rock",10,1.2]
A[0] = "disco"
del(A[1])
A

['disco', 1.2]

In [24]:
# spliting
"hard rock".split()
"A,B,C,D".split(",")  # tell python that "," splits the elements

['hard', 'rock']

['A', 'B', 'C', 'D']